html, body {
    width: 100%;
    height: 100%;
    padding: 2%;
}
.container {
    width: 100%;
    height: 100%;
    background-color: black
}
.staricon {
    width: 20px;
}
.star1 {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    animation: blackstar1 5s infinite;
}
@keyframes blackstar1 {
    0%   {top: 0px;}
  25%  {top: 150px;}
  75%  {top: 100px}
  100% {top: 0px;}
}
.star2 {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    animation: blackstar2 5s infinite;
}
@keyframes blackstar2 {
    0%   {top: 0px;}
  25%  {top: 50px;}
  75%  {top: 180px}
  100% {top: 0px;}
}
.star3 {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    animation: blackstar3 5s infinite;
}
@keyframes blackstar3 {
    0%   {top: 0px;}
  25%  {top: 200px;}
  75%  {top: 80px}
  100% {top: 0px;}
}
.star4 {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    animation: blackstar4 5s infinite;
}
@keyframes blackstar4 {
    0%   {top: 0px;}
  25%  {top: 100px;}
  75%  {top: 150px}
  100% {top: 0px;}
}
.star5 {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    animation: blackstar5 5s infinite;
}
@keyframes blackstar5 {
    0%   {top: 0px;}
  25%  {top: 180px;}
  75%  {top: 50px}
  100% {top: 0px;}
}
.star6 {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    animation: blackstar6 5s infinite;
}
@keyframes blackstar6 {
    0%   {top: 0px;}
  25%  {top: 100px;}
  75%  {top: 120px}
  100% {top: 0px;}
}
.star7 {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    animation: blackstar7 5s infinite;
}
@keyframes blackstar7 {
    0%   {top: 0px;}
  25%  {top: 40px;}
  75%  {top: 180px}
  100% {top: 0px;}
}
.star8 {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    animation: blackstar8 5s infinite;
}
@keyframes blackstar8 {
    0%   {top: 0px;}
  25%  {top: 180px;}
  75%  {top: 80px}
  100% {top: 0px;}
}
.star9 {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    animation: blackstar9 5s infinite;
}
@keyframes blackstar9 {
    0%   {top: 0px;}
  25%  {top: 100px;}
  75%  {top: 150px}
  100% {top: 0px;}
}
.star10 {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    animation: blackstar10 5s infinite;
}
@keyframes blackstar10 {
    0%   {top: 0px;}
  25%  {top: 180px;}
  75%  {top: 50px}
  100% {top: 0px;}
}
.star11 {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    animation: blackstar11 5s infinite;
}
@keyframes blackstar11 {
    0%   {top: 0px;}
  25%  {top: 130px;}
  75%  {top: 100px}
  100% {top: 0px;}
}
.star12 {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    animation: blackstar12 5s infinite;
}
@keyframes blackstar12 {
    0%   {top: 0px;}
  25%  {top: 50px;}
  75%  {top: 180px}
  100% {top: 0px;}
}
.star13 {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    animation: blackstar13 5s infinite;
}
@keyframes blackstar13 {
    0%   {top: 0px;}
  25%  {top: 200px;}
  75%  {top: 80px}
  100% {top: 0px;}
}
.star14 {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    animation: blackstar14 5s infinite;
}
@keyframes blackstar14 {
    0%   {top: 0px;}
  25%  {top: 100px;}
  75%  {top: 150px}
  100% {top: 0px;}
}
.star15 {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    animation: blackstar15 5s infinite;
}
@keyframes blackstar15 {
    0%   {top: 0px;}
  25%  {top: 180px;}
  75%  {top: 50px}
  100% {top: 0px;}
}
.star16 {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    animation: blackstar16 5s infinite;
}
@keyframes blackstar16 {
    0%   {top: 0px;}
  25%  {top: 100px;}
  75%  {top: 120px}
  100% {top: 0px;}
}
.star17 {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    animation: blackstar17 5s infinite;
}
@keyframes blackstar17 {
    0%   {top: 0px;}
  25%  {top: 40px;}
  75%  {top: 180px}
  100% {top: 0px;}
}
.star18 {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    animation: blackstar18 5s infinite;
}
@keyframes blackstar18 {
    0%   {top: 0px;}
  25%  {top: 180px;}
  75%  {top: 80px}
  100% {top: 0px;}
}
.star19 {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    animation: blackstar19 5s infinite;
}
@keyframes blackstar19 {
    0%   {top: 0px;}
  25%  {top: 100px;}
  75%  {top: 150px}
  100% {top: 0px;}
}
.star20 {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    animation: blackstar20 5s infinite;
}
@keyframes blackstar20 {
    0%   {top: 0px;}
  25%  {top: 180px;}
  75%  {top: 50px}
  100% {top: 0px;}
}
.star21 {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    animation: blackstar21 5s infinite;
}
@keyframes blackstar21 {
    0%   {top: 0px;}
  25%  {top: 130px;}
  75%  {top: 100px}
  100% {top: 0px;}
}